

#joystickbox{
    margin: 1px;
    overflow:auto;
    display: flex;
    align-items:center;
    justify-content:center; 
    border: 2px black solid;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(0,0,255);
}

#joystickbutton{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 30px blue;
}


#joystickbutton:hover{
    position: absolute;
}

#joystickbox:hover #joystickbutton{
    position: absolute;
}

